<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Computer Sale</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../MIPROYECTO/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../MIPROYECTO/assets/css/styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarColor02"
        aria-controls="navbarColor02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="../../../MIPROYECTO/index.php">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../../MIPROYECTO/backend/productos.php">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../../MIPROYECTO/backend/categorias.php">Categorias</a>
          </li>
        </ul>
        <div>
          <img class="navbar-brand logo" src="../../../MIPROYECTO/assets/img/logo.jpeg" alt="Logo" />
        </div>
      </div>
    </nav>

    <form id="form_categoria" class="form bg-light" method="POST">
      <fieldset>
        <legend>Alta de Categorías</legend>
        <div class="form-group-row">
      <input type="hidden" name="accion" value="guardar" />
      <label for="nombre_categoria" class="form-label mt-4">Nombre</label>
      <input type="text" id="nombre" name="nombre_categoria" placeholder="Nombre de la categoria" required autocomplete="off" class="form-control"/>
      <div class="div-form-button">
        <button class="btn btn-success" type="submit" value="guardar" >
          Agregar
          </button>
        <button class="btn btn-warning" type="button" value="Cancelar" >
          Cancelar
          </button>
      </div>
      <h3 class="h3">Sebastián Concheso</h3>
    </div>
    </fieldset>
  </form>
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script src="../../assets/js/validaciones.js" type="text/javascript"></script>
  
  </body>
</html>
