<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Computer Sale</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/form.css" />
    <link rel="stylesheet" href="../../assets/css/estilos.css" />
  </head>
  <body>
    <nav>
      <ul>
        <div>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Acerca</a></li>
          <li><a href="#">Categorias</a></li>
          <li><a href="#">Contacto</a></li>
        </div>
        <div class="li">
          <a href="#"><img class="img" src="../../assets/img/logo.jpeg" alt="Logo" /></a>
        </div>
      </ul>
    </nav>

    <h1 class="h1">Categorías</h1>
    <form class="form">
      <h3 class="h3">Formulario para alta de categoría</h3>
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" placeholder="Nombre de la categoria" required />
      <div class="div">
        <input class="button" type="submit" value="Guardar" />
        <input class="button" type="button" value="Cancelar" />
      </div>
      <h3 class="h3">Sebastián Concheso</h3>
    </form>
  </body>
</html>
