<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Computer Sale</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/form.css" />
    <link rel="stylesheet" href="../../assets/css/estilos.css" />
  </head>
  <body>
    <nav>
      <ul>
        <div>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Acerca</a></li>
          <li><a href="#">Categorias</a></li>
          <li><a href="#">Contacto</a></li>
        </div>
        <div class="li">
          <a href="#"><img class="img" src="../../assets/img/logo.jpeg" alt="Logo" /></a>
        </div>
      </ul>
    </nav>

    <h1 class="h1">Categorías</h1>
    <form id="form_categoria" class="form" method="POST">
      <input type="hidden" name="accion" value="guardar" />
      <h3 class="h3">Formulario para alta de categoría</h3>
      <label for="nombre_categoria">Nombre</label>
      <input type="text" id="nombre" name="nombre_categoria" placeholder="Nombre de la categoria" required autocomplete="off" />
      <div class="div">
        <input class="button" type="submit" value="Guardar" />
        <input class="button" type="button" value="Cancelar" />
      </div>
      <h3 class="h3">Sebastián Concheso</h3>
    </form>
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script src="../../assets/js/validaciones.js" type="text/javascript"></script>
  </body>
</html>
