nav {
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px; /* Espaciado interno */
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none; /* Quita los marcadores de lista */
    margin: 0; /* Elimina el margen */
    padding: 0; /* Elimina el espacio interno */
  }
  
  nav ul li {
    display: inline-block; /* Muestra los elementos en línea */
    align-items: center;
  }
  
  nav ul li a {
    color: #fff; /* Color del texto del enlace */
    text-decoration: none; /* Quita el subrayado del enlace */
    padding: 10px; /* Espaciado interno */
    align-items: center;
  }
  
  nav ul li a:hover {
    background-color: #555; /* Color de fondo al pasar el mouse */
  }

  
  .img{
    width: 150px;
    height: 90px;
    border-radius: 12%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: end;
  }

  .li{
    display: flex;
    justify-content: end;
    margin: 0px ;
    padding: 0px;
  }