.columna-imagen {
    max-width: 150px;
  }
  
.div-table{
    margin: 10px;
    padding: 2rem;
}

.description {
    font-size: 0.8rem;
    color: #6c757d;
    max-width: 350px;
}

.center{
    align-items: center;
}

.card-img-top{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    
}

.body{
    background-color: linear-gradient(90deg,#f17b7b 0%, #ecdce5 80%);;
}

.tabla-categorias{
    max-width: 25%;
    margin: 15px;
    padding: 2rem;
    
}

.logo{
    width: 55px;
    height: 55px;

}

.footer-gral {
  margin-top: 21px;
    bottom: 0;
    width: 100%;
    height: auto; /* Ajusta la altura según tus necesidades */
    background-color: #343a40; /* Color de fondo */
    color: #fff; /* Color del texto */
  }
  
  .footer-gral p {
    margin: 0;
    padding: 5px;
  }
  
  .footer-gral a {
    color: #fff; /* Color del enlace */
    text-decoration: none;
  }
  
  .footer-gral a:hover {
    text-decoration: underline; /* Cambia el estilo al pasar el ratón sobre el enlace */
  }

.footer-logo {
    width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
    padding-top: 5px;
    margin-bottom: 10px; /* Ajusta el margen según tus necesidades */
  }


.div-form-button {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


.h3 {
    margin-top: 180px;
    margin-bottom: 0.5rem;
    justify-content: center;
  }

.formulario{
  max-width: 40%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}